### 1. 문제정의

### 2. 데이터 수집

In [2]:
import pandas as pd
boston_data = pd.read_csv('boston_house.csv')
boston_data.head(1)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.09,1.0,296.0,15.3,396.9,4.98,24.0

In [6]:
X = boston_data.drop('MEDV', axis = True)
y = boston_data['MEDV']

print(X.shape, y.shape)

AttributeError: 'list' object has no attribute 'drop'

In [ ]:
y.name = 'price'

In [7]:
X.info() # 문제데이터는 항상 숫자 형태

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

### 3. 데이터 전처리
- 보스턴 집값 데이터는 학습용 데이터 -> 전처리 필요 없음

### 4. 탐색적 데이터 분석(EDA)

#### 상관관계 분석
- 컬럼간의 선형도(상관도)를 확인

In [8]:
boston_data.corr() # correlation(상관관계)

AttributeError: 'list' object has no attribute 'corr'